@model IEnumerable<PS13035_LEQUANGDUC_ASM1.Models.MonAn>

@{
    ViewData["Title"] = "index";
}

<h1>trang chủ - Món Ăn </h1>

<p>
    <a asp-action="Create">Tạo Mới </a>
</p>
<table class="table  ">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phanloai)
            </th>
            <th>
              
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phanloai)
            </td>
            <td>
                
                <img src="~/images/Monan/@item.Hinh" style="width:250px" />
             
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
              
                <a asp-action="Edit"asp-route-id="@item.MonanID">Chỉnh Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MonanID">Chi Tiết</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
